# Ignore node-modules
/node_modules

# Ignore all generated & collected data jsons
/data/**/*.json
/data/**/*.txt
/data/archive/*

# Ignore configuration files
config/*.cfg.json
config/**.googleusercontent.com.json

# Ignore JavaScript & Maps
*.js
*.js.map
